<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Interface</title>
</head>
<body>
    <h2>Send message to server</h2>
    <form id="msgForm">
        message:<input type="text" name="message" required><br><br>
        key:<input type="text" name="key" required><br><br>
        <input type="submit" value="Send">
    </form>
    <div id="ack"></div>

    <script>
        const form = document.getElementById('msgForm');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            const response = await fetch('/send', {
                method: 'POST',
                body: formData
            });
            const ack = await response.text();
            document.getElementById('ack').innerHTML += ack + "<hr>";
            form.reset();
        });
    </script>
</body>
</html>
